<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="school" value="미림여자정보과학고등학교" />
    <add key="version" value="2020.06.18a"/>
  </appSettings>
</configuration>